<div class="press-details">
    <div class="container">
        <h4>Press releases</h4>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-9">
            </div>
        </div>
        <h4>Attachments</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="attach">
                    <h6>Al Jalila Foundtions.PDF</h6>
                    <i class="fas fa-download"></i>
                </div>
            </div>
            <div class="col-md-4">
                <div class="attach">
                    <h6>Al Jalila Foundtions.PDF</h6>
                    <i class="fas fa-download"></i>
                </div>
            </div>
            <div class="offset-md-4"></div>
        </div>
        <h4>you may also be intersted in</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="card  text-white">
                    <img class="card-img" src="../../assets/images/Clip2.jpg" alt="">
                    <div class="card-img-overlay">
                        <h2 class="card-title">About MRMI</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
                            voluptas temporibus quae id cumque expedit</p>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card  text-white">
                    <img class="card-img" src="../../assets/images/Clip3.jpg" alt="">
                    <div class="card-img-overlay">
                        <h2 class="card-title">Our Message</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
                            voluptas temporibus quae id cumque expedit</p>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card  text-white">
                    <img class="card-img" src="../../assets/images/Clip4.jpg" alt="">
                    <div class="card-img-overlay">
                        <h2 class="card-title">Our Vision & Mission</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>