.header {
  img {
      margin-top: 20px;
    width: 50%;
  }
  .sign-list {
    list-style: none;
    display: inline-flex;
    margin-top: 10px;
    color: #168d91;
    li {
      margin: 0 5px;
      text-transform: uppercase;
      a {
        color: #168d91;
        text-decoration: none;
      }
    }
  }
  .lang-list {
    list-style: none;
    display: inline-flex;
    color: #777;
    li {
      margin: 0 5px;
      a {
        color: #000;
        text-decoration: none;
        margin: 0 5px;
        &.active {
          background-color: #168d91;
          padding: 5px;
          border-radius: 25px;
          color: #fff;
        }
      }
      p {
        color: #168d91;
        span {
          font-size: 12px;
        }
      }
    }
  }
}
