<header class="sticky-top">
    <div class="main-head">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-6">
                    <div class="logo">
                        <img src="./assets/images/linkdevlogo.png" alt="">
                    </div>
                </div>
                <div class="offset-md-6"></div>
                <div class="col-md-3 col-6">
                    <ul class="sign-list">
                        <li>
                            <a href="">Register</a> |
                        </li>
                        <li>
                            <a href=""> Login</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="lang-list">
                        <li><a href="" class="active"> En </a> <a href="">Ar</a> |</li>
                        <li>
                            <p> A<span> A </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Who We Are</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            What We Do
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Get Involved</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Media Center
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li> <a class="nav-link" href="#">Contact Us</a></li>
                </ul>
                <button><i class="fas fa-search"></i></button>
            </div>
        </div>
    </nav>
</header>